*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 202, 226);
    min-width: 1280px;
}